html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} 

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.skill-item {
  transition: transform .2s;
  
}

.skill-item:hover {
  transform:translateY(-8px)  scale(1.2);
}

.skill-item .MuiTypography-body2 {
  font-weight: 600;
  font-family: sans-serif;
  color: #565657;
}





